:root {
	--selected-color: #f0f2f5;
}

body {
	font-family: sans-serif;
}

.tree {
	max-width: 300px;
	min-height: 100px;
}

.treeButton {
	display: flex;
	background: transparent;
	border: none;
	width: 100%;
	padding: 0 0 2px 0;
}

.treeButton:focus {
	outline: none;
}

.treeItem {
	width: 100%;
	text-align: left;
	background-color: white;
	padding: 6px 10px;
	position: relative;
	border-radius: 8px;
	transition: background-color 0.2s ease;
	cursor: pointer;
}

.treeItem:hover {
	background-color: var(--selected-color);
}

.renamingItem {
	background-color: var(--selected-color);
	margin-bottom: 2px;
	border-radius: 8px;
	padding: 4px 10px 5px 24px;
}

.renamingItem input {
	width: 100%;
	height: 100%;
	border: none;
	background: transparent;
	outline: none;
}

.treeItem:hover {
	border-color: black;
}

.selected {
	background-color: #eee;
}

.treeButton:focus-visible .focused,
.searchMatch.focused {
	outline: 2px solid black;
}

.drop {
	border-color: var(--selected-color);
	background-color: #e1f1f8;
}

.searchMatch {
	background-color: #e1f8ff;
}

.folder::before {
	content: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE2IDE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48Zz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTQuNjQ2IDEuNjQ2YS41LjUgMCAwIDEgLjcwOCAwbDYgNmEuNS41IDAgMCAxIDAgLjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOC0uNzA4TDEwLjI5MyA4IDQuNjQ2IDIuMzU0YS41LjUgMCAwIDEgMC0uNzA4eiIgY2xhc3M9InJjdC10cmVlLWl0ZW0tYXJyb3ctcGF0aCI+PC9wYXRoPjwvZz48L2c+PC9zdmc+);
	width: 10px;
	display: inline-block;
	z-index: 1;
	margin-right: 4px;
	transition: transform 0.1s ease-in-out;
}

.folder.expanded::before {
	transform: rotate(90deg);
}

.treeItem:not(.folder) {
	padding-left: 24px;
}

.selected::after {
	content: " ";
	position: absolute;
	top: 5px;
	left: -2px;
	height: 16px;
	width: 4px;
	background-color: #0366d6;
	border-radius: 99px;
}
