/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body, #root {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
  }
  
  .app-container {
    display: flex;
    height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
  }
  